* {
    font-family: 'メイリオ';
    margin:0; padding:0;
  }
  html, body {
    text-align: center;
    height: 100%;
    overflow-x: hidden;
  }
  body{
    background-color: white;
  }

  /*headerとfooter*/
  .header {
    height: 70px;
    width: 98.9%;
    padding: 7px 0 0 12%;
    background-color: rgb(96, 151, 114);
    color: whitesmoke;
    position: absolute;
    z-index: 10;
  }

  .headline{
    float: left;
    width: 800px;
    text-align: left;
  }
  .headline-item{
    float: left;
  }
  .headline img{
      height: 57px;
      margin-left: 100px;
  }
  .nav-list {
    white-space: nowrap;
    margin-top: 10px;
    list-style: none;
    position: fixed;
  }
  .nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    color: whitesmoke;
    font-size:18px;
  }
  .item{
    list-style: none;
    padding-left: 0;
    margin: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
    width: 11em;
  }
  .nav-list:after {
    content: "";
    clear: both;
    display: block;
  }
  .nav-item-name:hover + .item, .item:hover {
    opacity: 1;
    z-index: 1;
    background-color: rgb(116, 173, 135);
  }
  .item-list{
    display: inline-block;
    color: whitesmoke;
  }
.footer {
    border-top: rgb(96, 151, 114) solid 5px;
    width: 100%;
    height: 300px; 
    padding: 20px 0;
    background-color: #e2e0e0;
    /*position: absolute;*/
    bottom: 0; 
}
.footer .footer-item{
    margin-left: 100px;
    text-align: left;
    color:#444;
}
.footer-text2{
  float: left;
  text-align: right;
  width: 35%;
}
.footer-text2 img{
  height: 270px;
}
.footer-link{
  display: inline-block;
  color: #444;
  list-style-type: none;
}
.footer-text img{
  height: 110px;
}
.footer .footer-text {
    text-align: right;
    color:#444;
    float: left;
    width: 60%;
}

/*ログインページ*/
  .login-page {
    width: 75%;
    padding: 90px 0 0 0;
    margin: auto auto 10px auto;
  }
  .form {
    position: static;
    z-index: 0;
    background:#f3f2f2;
    margin: 0 auto 100px auto;
    padding: 0 20% 100px 20%;
    text-align: center;
  }
  .general{
    color:rgb(96, 151, 114);
    border-bottom:solid 1.5px rgb(96, 151, 114);
    padding: 30px;
    margin-bottom: 20px;
  }

  .form .general-button:hover,.form .general-button:active,.form .general-button:focus {
    background: rgb(54, 114, 57);
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 16px;
  }
  .form .message a {
    color: rgb(96, 151, 114);
    text-decoration: none;
  }

  .form input {
    outline: 0;
    background-color: white;
    width: 55%;
    border: 0;
    margin: 20px 0 30px 0;
    padding: 15px;
    box-sizing: border-box;
    font-size: 16px;
  }
  .form .general-button{
    text-transform: uppercase;
    outline: 0;
    background: rgb(70, 110, 83);
    width: 55%;
    border: 0;
    padding: 15px;
    margin: 10px 0 30px 0;
    color: whitesmoke;
    font-size: 16px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }

  /*2020/11/20 Sugimori*/
  .farmlogin{
    font-size: 20px;
  }

  .form .farm-button:hover,.form .farm-button:active,.form .farm-button:focus, .farmbtn:hover {
    background: rgb(54, 114, 57);
  }

  .form .farm-button {
    text-transform: uppercase;
    outline: 0;
    background: rgb(70, 110, 83);
    width: 55%;
    border: 0;
    padding: 15px;
    margin: 10px 0 30px 0;
    color: whitesmoke;
    font-size: 20px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }

  /*新規登録画面*/
  .register-page{
    width: 75%;
    padding: 90px 0 0 0;
    margin: auto auto 10px auto;
  }

/*Top画面レイアウト*/
.photos {
	position: relative;
  text-align: center;
  margin-bottom: 100px;
	width: 100%;
	height: 250px;
}
.item2{
  top: 90px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 880px;
  position: absolute;
}

.top-layout{
  display: flex;
}
.top-item-list{
  width: 100%;
  margin: 40px;
  text-align: left;
}
.top-item-list img{
  width: 250px;
  margin-right: 10px;
}
.top-item-list h3{
  color:rgb(96, 151, 114);
  border-bottom:solid 1.5px rgb(96, 151, 114);
}
.top-font{
  padding-left:20%;
  text-align: left;
  font-size: 20px;
}
.general-top{
  padding-top: 90px;
  text-align: right;
}
.general-top .koukoku{
  padding-right: 14%;
}

/*商品詳細画面レイアウト*/
.products-page{
  width: 75%;
  padding: 90px 0 0 0;
  margin: auto auto 10px auto;
}
.title{
  font-size: 24px;
  font-weight: bold;
}
.products-page img {
  width: 70%;
}
.price{
  font-size: 16px;
  margin: 20px;
}
.product-layout{
  font-size: 16px;
  text-align: right;
}
.product{
  text-align: left;
  padding: 20px;
  background-color: white;
  margin-bottom: 20px;
}
.product-layout input{
  background-color: white;
  width: 500px;
  margin: 0 0 10px 30px;
  text-align: center;
}

/*購入画面*/
.buy-page{
  width: 75%;
  padding: 90px 0 0 0;
  margin: auto auto 10px auto;
  font-size: 16px;
}

/*農家管理者の画面*/
.farm-top,list-form{
    padding-top: 80px;
    /*margin: auto auto 10px auto;*/
}

.farm-seller{
  width: 80%;
  background-color: #f3f2f2;
  margin: auto auto 10px auto;
}

.farm-top p{
  padding-left: 20%;
  text-align: left;
  font-size: 50px;
}

.farm-top h1{
  font-weight: bold;
  font-size: 100px;
}

.farm-top h2{
  padding-top: 30px;
  font-size: 60px;
}

.farmk-size{
  width: 60%;
}

.farmbtn{
  margin: 15px 15px 15px 15px;
  width: 350px;
  height: 90px;
  font-size: 40px;
  color: white;
  background-color:  rgb(54, 107, 72);
}

.column {
  height: 100vh;
  width: 100%;
  font-size: 35px;
  margin: 25px 25px 25px 25px;
  padding: 15px 15px 15px 15px;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.add1 .add2{
  background-size: cover;
  text-align: left;
}

.textm{
  border-radius: 10px;
}

.textm:hover{
  background-color: rgb(230, 179, 121);
}

.rad{
  transform: scale(3);
  margin-left: 50px;
  margin-right:30px;
}

.photobtn{
  margin: 15px 15px 15px 15px;
  width: 350px;
  height: 90px;
  font-size: 40px;
  color: white;
  background-color:  rgb(231, 146, 49);
}
.form .goodtable{
  width: 700px;
  text-align: center;
}

/*商品登録画面*/
.farm-page {
  width: 75%;
  padding: 90px 0 0 0;
  margin: auto auto 10px auto;
}

.farm-page p{
  font-size: large;
}

/*商品通報画面*/
.notice-page{
  width: 75%;
  padding: 90px 0 0 0;
  margin: auto auto 10px auto;
  font-size: 18px;
}
.notice-page h3{
  color: rgb(70, 110, 83);
  border-bottom:solid 1px #b3b3b3;
}
.notice-product{
  padding: 20px;
  text-align: left;
}
.notice-product img{
  width: 30%;
}

/*FarmTeerについての画面*/
.first-page{
  width:100%;
  height: 100%;
}
.slideBox {
  width: 100%;
  height:550px;
  overflow: hidden;
  text-align: center;
  position: relative;
}

/* imgのみ */
.item1 {
  top: 90px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  width: 880px;
  object-fit: cover;
  position: absolute;
  -webkit-animation: anime 20s 0s infinite;
  animation: anime 20s 0s infinite;
}

.item1:nth-of-type(2) {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.item1:nth-of-type(3) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}
.item1:nth-of-type(4) {
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
}

/* ふわっとアニメーション */
@keyframes anime {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes anime {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.first-page .first{
  width: 45%;
  margin: auto auto 10px auto; 
}
.first h2{
  margin: 30px 0;
  color: rgb(96, 151, 114);
  text-align: center;
}
.first p{
  text-align: left;
  font-size: 15px;
  line-height: 30px;
}
/*ガイド画面*/
.guide-page{
  width: 75%;
  padding: 90px 0 0 0;
  margin: auto auto 10px auto;
}

/*ユーザー管理者画面*/
.top-page,.userdetail-page{
  padding-top: 80px;
  font-size: 16px;
}
.top-page h2{
  width: 500px;
  text-align: center;
  padding:10px;
}
.list-form{
  display: inline-block;
  width: 40%;
  height: 500px;
}
.edit-form{
  display: inline-block;
  background-color: #f3f2f2;
  text-align: right;
  width: 50%;
  padding-left: 10%;
  padding-right: 7%;
  padding-bottom: 50px;
  margin-bottom: 30px;
}
.usertable{
  margin-left: 80px;
  width: 400px;
}

.top-page .general-button{
  background: rgb(70, 110, 83);
  border: 0;
  padding: 10px;
  margin: 10px 15px 30px 0;
  color: whitesmoke;
  font-size: 16px;
  width: 100px;
}

.top-page .general-button:hover,.top-page .general-button:active,.top-page .general-button:focus{
  background: rgb(54, 114, 57);
}

#error{
  color: brown;
}