* {
    margin:0; padding:0;
  }

  .header {
    height: 70px;
    width: 99%;
    padding: 7px 0 0 12%;
    background-color: rgb(96, 151, 114);
    color: whitesmoke;
    position: absolute;
  }

  .headline{
    float: left;
    width: 800px;
    text-align: left;
  }
  .headline-item{
    float: left;
  }
  .headline img{
      height: 57px;
      margin-left: 100px;
  }
  .nav-list {
    margin-top: 10px;
    list-style: none;
  }
  .nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    color: whitesmoke;
    font-size:18px;
  }

  .login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }

  .register-page{
    width: 360px;
    padding: 4% 0 0;
    margin: auto;
  }

  .form {
    position: relative;
    z-index: 1;
    background: whitesmoke;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .general{
    color:rgb(96, 151, 114);
    border-bottom:solid 3px rgb(96, 151, 114);
  }

  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form .general-button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: rgb(96, 151, 114);
    width: 100%;
    border: 0;
    padding: 15px;
    color: whitesmoke;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form .general-button:hover,.form .general-button:active,.form .general-button:focus {
    background: rgb(54, 114, 57);
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: rgb(96, 151, 114);
    text-decoration: none;
  }

.footer {
    border-top: rgb(96, 151, 114) solid 5px;
    width: 100%;
    height: 300px; 
    padding: 20px 0;
    background-color: #e2e0e0;
    /*position: absolute;*/
    bottom: 0; 
}
.footer .footer-item{
    margin-left: 100px;
    text-align: left;
    color:#444;
}
.footer-link{
  display: inline-block;
  color: #444;
  list-style-type: none;
}
.footer-text img{
  height: 110px;
}
.footer .footer-text {
    text-align: center;
    color:#444;
}
/*farmer画面のレイアウト*/
.farmer{
  color:#E29C45;
  border-bottom:solid 3px #E29C45;
}

.form .farmer-button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #E29C45;
  width: 100%;
  border: 0;
  padding: 15px;
  color: whitesmoke;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .farmer-button:hover,.form .farmer-button:active,.form .farmer-button:focus {
  background: rgb(241, 152, 43);
}
.form .farmer-message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .farmer-message a {
  color: #E29C45;
  text-decoration: none;
}

.farmer-footer {
    width: 100%;
    height: 60px; 
    text-align: center;
    padding: 20px 0;
    background-color: #E29C45;
}

/*新規登録申請画面のレイアウト*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  font-family: 'Roboto';
  letter-spacing: 0.05em;
}

html, body {
  text-align: center;
  height: 100%;
  overflow-x: hidden;
}

.step-bar li{
  display: inline-block;
  position: relative;
  margin: 0px 30px; 
  width: 120px;
}

.step-bar .number{
  transition: background-color 0.1s linear, color 0.1s linear;
  display: inline-block;
  position: relative;
  color: #777;
  background-color: whitesmoke; 
  width: 20px;
  padding: 8px 5px;
  margin-bottom: 4px;
  font-weight: 700;
  z-index: 1;
}

.step-bar .line {
  background-color: whitesmoke;
  width: 180px;
  height: 5px;
  position: absolute;
  top: 15px;
  right: 60px;
  z-index: 0;
}

.register-form {
  display: block;
  background: whitesmoke;
  padding: 20px 20px;
  width: 450px;
  text-align: center;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
  border-radius: 3px;
  margin-left: -50px;
}

.error {
  border: 1px solid #E57373;
  background-color: #FFEBEE;
}

.error-text {
  text-align: left;
  padding-left: 10px;
  font-size: 0.7em;
  color: #E57373;
}
.register-form h2 {
  font-size: 1em;
  color: #777;
  font-weight: 400;
  margin-bottom: 10px;
}

.register-form input {
  padding: 15px; 
  margin: 5px 0;
  width: 400px;
}

.register-form input::placeholder {
  color: #aaa;
}

.register-form input.error::placeholder {
  color: #555;
}

.account-setup, .finish-step, .user-details {
  transition: 1s all ease-in-out;
  display: inline-block;
  position: absolute;
}

.account-setup {
  left: calc(50% - 175px);
}

.finish-step, .user-details {
  left: 10000px;
}

.line-active {
  background-position: left bottom;
}

label {
  display: block;
  text-align: left;
  font-size: 0.8em;
  padding-left: 5px;
  color: #444;
}

.accept-conditions {
  margin-top: 20px;
}

input::placeholder { 
  color:  #aaa;
}

/*新規登録申請画面のレイアウト2*/

.step-bar2 {
  text-transform: uppercase;
  color: #E29C45;
  font-size: 0.8em;
  margin-top: 20px;
}

.step-bar2 li{
  display: inline-block;
  position: relative;
  margin: 0px 30px; 
  width: 120px;
}

.step-bar2 .number2{
  transition: background-color 0.1s linear, color 0.1s linear;
  display: inline-block;
  position: relative;
  color: #777;
  background-color: whitesmoke; 
  width: 20px;
  padding: 8px 5px;
  margin-bottom: 4px;
  font-weight: 700;
  z-index: 1;
}

.step-bar2 .line2 {
  background-color: whitesmoke;
  width: 180px;
  height: 5px;
  position: absolute;
  top: 15px;
  right: 60px;
  z-index: 0;
}

.step-bar2 .active {
  background-color: #E29C45;
  color: whitesmoke;
}

.farmer-form-name{
  margin: 25px 0;
  display: block;
  color: #E29C45;
  font-size: 1.15em;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 200;
}

.button2 {
  display: inline-block;
  padding: 10px 40px;
  background-color: #E29C45;
  color: whitesmoke;
  margin: 25px 0  10px 0;
  user-select: none;
  cursor: pointer;
  position: relative;
}

.button2:hover {
  background-color: rgb(241, 152, 43);
}

.line2 {
  transition: all 1s ease-in-out;
  background: linear-gradient(to right, #E29C45 50%, whitesmoke 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.line2-active {
  background-position: left bottom;
}

.farmer-message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.farmer-message a {
  color: #E29C45;
  text-decoration: none;
}

input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

@media(max-width: 600px) {
  .step2-bar {
    display: none;
  }
}

/*farmerとvolunteerのregister画面共通のレイアウト*/

#postcode1, #postcode2 {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 160px;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.cp_ipselect {
	overflow: hidden;
	width: 90%;
	margin: 2em auto;
	text-align: center;
}
.cp_ipselect select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl03 {
	position: relative;
	border: 2px solid #E29C45;
	background: whitesmoke;
}
.cp_ipselect.cp_sl03::before {
	position: absolute;
	top: 0.8em;
	right: 0.8em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #E29C45;
	pointer-events: none;
}
.cp_ipselect.cp_sl03 select {
	padding: 8px 38px 8px 8px;
	color: #E29C45;
}


.top-page {
  width: 100%;
  display: flex;
}

.list-form{
  padding-left: 50px;
  text-align: left;
  width: 50%;
  float: left;
}
.edit-form{
  padding-right: 50px;
  text-align: right;
  width: 50%;
  float: left;
}
.edit-form input{
  width: 500px;
}
.edit-form h2{
  text-align: center;
  color: rgb(96, 151, 114);
}
.edit-button{
  padding: 10px 40px;
  background-color: rgb(96, 151, 114);
  color: whitesmoke;
  margin: 10px 30px 10px 30px;
  user-select: none;
  cursor: pointer;
  position: relative;
  border: none;
}
.edit-button:hover{
  background-color: rgb(54, 114, 57);
}

.button-blue{
  position: relative;
  display: inline-block;
  border:none;
  margin-top: 30px;
  background-color: #264348;
  font-size: 20px;
  color: whitesmoke;
}

.button-farmer{
  position: relative;
  display: inline-block;
  border:none;
  margin-top: 30px;
  background-color: #E29C45;
  font-size: 20px;
  color: whitesmoke;
}

.header-link{
  text-align: right;
  float: left;
}

/*　農家　*/
.account-page .farmer-text{
  padding-left: 10%;
  color: #E29C45;
}
.edit-form .farmer-text{
  text-align: center;
  color: #E29C45;
}
.farmer-edit-button{
  padding: 10px 40px;
  background-color: #E29C45;
  color: whitesmoke;
  margin: 10px 30px 10px 30px;
  user-select: none;
  cursor: pointer;
  border: none;
}
.farmer-edit-button:hover{
  background-color:rgb(241, 152, 43);
}

.cp_sl0 select {
  width: 500px;
  margin-bottom: 30px;
  background-color:#f2f2f2; 
	padding: 8px 38px 8px 8px;
  color: #E29C45;
  border: none;
}

.vo_sl0 select {
  width: 500px;
  margin-bottom: 30px;
  background-color:#f2f2f2; 
	padding: 8px 38px 8px 8px;
  color: #264348;
  border: none;
}

.account-page input{
  width: 70%;
}
.account-page {
  padding-left: 10%;
  text-align: left;
}


.ipselect {
	overflow: hidden;
	width: 50%;
	margin: 2em 0;
	text-align: left;
}
.ipselect select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.ipselect select::-ms-expand {
    display: none;
}
.ipselect.cp_sl03 {
	position: relative;
	border: 2px solid #E29C45;
	background: whitesmoke;
}
.ipselect.cp_sl03::before {
	position: absolute;
	top: 0.8em;
	right: 0.8em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #E29C45;
	pointer-events: none;
}
.ipselect.cp_sl03 select {
	padding: 8px 38px 8px 8px;
	color: #E29C45;
}

.ipselect.vo_sl03 {
	position: relative;
	border: 2px solid #264348;
	background: whitesmoke;
}
.ipselect.vo_sl03::before {
	position: absolute;
	top: 0.8em;
	right: 0.8em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #264348;
	pointer-events: none;
}
.ipselect.vo_sl03 select {
	padding: 8px 38px 8px 8px;
	color: #264348;
}